@media (max-width: 1300px) {
  .logo-wrapper {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img.logo-small,
    img.logo-intro-step {
      width: 180px;
      height: auto;
      transform: none;
    }
  }
}

@media (max-width: 1024px) {
  .register-card {
    padding: 40px 30px;
    border-radius: 25px;
  }

  h2 {
    font-size: 36px;
    margin: 10px 0 12px 0 !important;
  }

  .register-card .subtitle {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .input-wrapper {
    padding: 14px 18px;
    gap: 25px;
  }

  .form-input {
    font-size: 15px;
  }

  .checkbox-group label {
    font-size: 15px;
  }

  .btn-continue {
    font-size: 17px;
  }

  .footer-links {
    display: none !important;
    bottom: 30px;
    gap: 15px;

    .footer-link {
      font-size: 16px;
      padding: 9px 13px;
    }
  }
}

@media (max-width: 768px) {
  .register-card {
    padding: 20px 20px;
    border-radius: 20px;

    .back-button {
      top: 25px;
    }
  }

  h2 {
    font-size: 24px !important;
  }

  .register-card .subtitle {
    font-size: 16px;
  }

  .form-group {
    margin-bottom: 24px;
  }

  .input-wrapper {
    padding: 12px 16px;
    gap: 20px;
  }

  .form-input {
    font-size: 14px;
  }

  .checkbox-group {
    gap: 8px;

    label {
      font-size: 14px;
    }

    .checkbox {
      width: 18px;
      height: 18px;
    }
  }

  .btn-continue {
    font-size: 16px;
    padding: 10px;
  }

  .footer-links {
    display: none;
  }

  .error-text {
    margin-left: 40px;
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .register-card {
    padding: 20px 10px;
    border-radius: 15px;
  }

  h2 {
    font-size: 20px !important;
  }

  .register-card .subtitle {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .input-wrapper {
    padding: 10px 12px;
    gap: 15px;
  }

  .form-input {
    font-size: 12px;
  }

  .checkbox-group label {
    font-size: 12px;
  }

  .btn-continue {
    font-size: 14px;
    padding: 8px;
  }

  .error-text {
    font-size: 10px;
    margin-left: 30px;
  }
}

@media (max-height: 750px) {
  .register-form-wrapper {
    top: 57%;
  }
}

@media (max-width: 1300px) and (max-height: 850px) {
  .register-form-wrapper {
    top: 57%;
  }
  .register-card {
    width: 500px;
    padding: 40px 30px;
  }

  .footer-links {
    display: none !important;
  }
}

@media (max-width: 1300px) and (max-height: 750) {
  .register-card {
    width: 500px;
    padding: 20px 20px;
  }
}
