.datenschutz-container {
  background: white;
  border-radius: 30px;
  padding: 50px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
  max-width: 800px; // Etwas breiter für längeren Text
  margin: 0 auto;
  position: relative;

  h1 {
    font-family: "Nunito", Bold;
    font-size: 46px;
    font-weight: 700;
    color: #444df2;
    text-align: center;
    margin: 0 0 20px 0;
  }

  h2 {
    font-size: 24px;
    margin: 30px 0 10px 0;
    color: #1c1c1c;
  }

  p,
  ul {
    font-size: 16px;
    color: #686868;
    line-height: 1.5;
  }

  ul {
    margin-left: 20px;
  }

  a {
    color: #797ef3;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .back-button {
    position: absolute;
    top: 60px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: #eceefe;

      svg path {
        fill: #444df2;
      }
    }
  }
}
