@media (max-width: 1400px) {
  .logo-wrapper {
    top: 20px !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    animation: slideToTopCenter 1s ease-in-out forwards;
  }

  @keyframes slideToTopCenter {
    0% {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 20px;
      transform: translate(-50%, 0);
    }
  }

  .datenschutz-container {
    position: absolute;
    top: calc(10% + 50px);
    left: 50%;
    transform: translateX(-50%);

    .back-button {
      top: 50px;
      left: 40px;
    }

    h1 {
      margin-left: 50px;
    }
  }
}

@media (max-width: 1024px) {
  .datenschutz-container {
    padding: 40px 30px;
    border-radius: 25px;
    max-width: 80vw;
    margin: 12px auto;
    max-height: 96vh;

    h1 {
      font-size: 36px;
      margin-left: 50px;
    }

    h2 {
      font-size: 22px;
      margin: 25px 0 9px 0;
    }

    p,
    ul {
      font-size: 15px;
    }

    ul {
      margin-left: 18px;
    }

    &::-webkit-scrollbar {
      width: 7px;
    }

    .back-button {
      top: 40px;
      left: 30px;
    }
  }

  .logo-wrapper {
    .logo {
      padding: 20px 40px;
    }
  }
}

@media (max-width: 768px) {
  .logo-wrapper {
    top: 20px;
    left: 20px;

    .logo {
      padding: 15px 30px;
    }
  }

  .datenschutz-container {
    padding: 30px 20px;
    border-radius: 20px;
    max-width: 90vw;
    margin: 10px auto;
    max-height: 95vh;

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
      margin: 20px 0 8px 0;
    }

    p,
    ul {
      font-size: 14px;
    }

    ul {
      margin-left: 15px;
    }

    .back-button {
      top: 30px;
      left: 20px;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }
  }
}

@media (max-width: 320px) {
  .logo-wrapper {
    .logo {
      padding: 10px 20px;
    }
  }

  .datenschutz-container {
    padding: 20px 10px;
    border-radius: 15px;

    h1 {
      font-size: 20px;
    }

    h2 {
      font-size: 18px;
    }

    p,
    ul {
      font-size: 12px;
    }

    ul {
      margin-left: 10px;
    }

    .back-button {
      top: 20px;
      left: 10px;
      width: 30px;
      height: 30px;
    }

    &::-webkit-scrollbar {
      width: 4px;
    }
  }
}
