<section
  (click)="toggleProfile()"
  class="toggle-menu no-display"
  id="profile-menu"
>
  <div (click)="stopPropagation($event)" class="toggle-item">
    <div>
      @if (edit) {
      <h2>Dein Profil bearbeiten</h2>
      } @else {
      <h2>Profil</h2>
      }

      <button (click)="toggleProfile()">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <mask
            id="mask0_153677_6137"
            style="mask-type: alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="24"
            height="24"
          >
            <rect width="24" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_153677_6137)">
            <path
              d="M12 13.4L7.09999 18.3C6.91665 18.4833 6.68332 18.575 6.39999 18.575C6.11665 18.575 5.88332 18.4833 5.69999 18.3C5.51665 18.1167 5.42499 17.8833 5.42499 17.6C5.42499 17.3167 5.51665 17.0833 5.69999 16.9L10.6 12L5.69999 7.09999C5.51665 6.91665 5.42499 6.68332 5.42499 6.39999C5.42499 6.11665 5.51665 5.88332 5.69999 5.69999C5.88332 5.51665 6.11665 5.42499 6.39999 5.42499C6.68332 5.42499 6.91665 5.51665 7.09999 5.69999L12 10.6L16.9 5.69999C17.0833 5.51665 17.3167 5.42499 17.6 5.42499C17.8833 5.42499 18.1167 5.51665 18.3 5.69999C18.4833 5.88332 18.575 6.11665 18.575 6.39999C18.575 6.68332 18.4833 6.91665 18.3 7.09999L13.4 12L18.3 16.9C18.4833 17.0833 18.575 17.3167 18.575 17.6C18.575 17.8833 18.4833 18.1167 18.3 18.3C18.1167 18.4833 17.8833 18.575 17.6 18.575C17.3167 18.575 17.0833 18.4833 16.9 18.3L12 13.4Z"
              fill="black"
            />
          </g>
        </svg>
      </button>
    </div>
    <img src="./../../../assets/avatars/avatar1.png" alt="" />
    @if (edit) {
    <div class="edit-profile-mask">
      <div>
        <div>
          <img src="./../../../assets/img/account_circle.svg" alt="" />
          <h3>Vollständiger Name</h3>
        </div>
        <div>
          <input id="input-name" type="text" placeholder="{{ username }}" />
        </div>
      </div>
      <div>
        <button (click)="toggleProfile()">Abbrechen</button>
        <button (click)="changeUserName()">Speichern</button>
      </div>
    </div>
    } @else {
    <div class="edit-profile">
      <h3>{{ username }}</h3>
      <h4 (click)="editProfile()">Bearbeiten</h4>
    </div>

    <div class="profile-status">
      <img src="./../../../assets/img/active.svg" alt="" />
      <h3>Aktive</h3>
    </div>

    <div class="profile-email">
      <div>
        <img src="./../../../assets/img/mail.svg" alt="" />
        <h3>E-Mail-Adresse</h3>
      </div>
      <a href="">{{ useremail }}</a>
    </div>
    }
  </div>
</section>

<section
  (click)="toggleDropdown()"
  class="dropdown-menu no-display"
  id="dropdownMenu"
>
  <div (click)="stopPropagation($event)" class="dropdown-item">
    <button (click)="toggleProfile()">Profil</button>
    <button [routerLink]="'login'">Log out</button>
  </div>
</section>
<section class="header-section">
  <div class="logo-wrapper">
    <img
      src="./../../../assets/icons/logo-DABubble.png"
      alt="DABubble"
      class="logo"
    />
  </div>
  <div class="search-wrapper">
    <input
      (input)="onInputChange($any($event.target).value)"
      type="text"
      placeholder="Devspace durchsuchen"
      class="search-input"
    />

    <img
      src="./../../../assets/img/search.svg"
      alt="Search"
      class="search-icon"
    />
    <div class="no-display" id="search-results-contacts"></div>
    <div class="no-display" id="search-results-channels"></div>
  </div>
  <div class="profile-wrapper">
    <h2>{{ username }}</h2>
    <div class="profile-pic">
      <img src="./../../../assets/avatars/avatarSmall2.png" alt="" />
      @if (userStatus) {
      <img src="./../../../assets/img/online.png" alt="" />
      } @else {
      <img src="./../../../assets/img/offline.svg" alt="" />
      }
    </div>
    <svg
      (click)="toggleDropdown()"
      width="30"
      height="30"
      viewBox="0 0 30 30"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <mask
        id="mask0_153450_13803"
        style="mask-type: alpha"
        maskUnits="userSpaceOnUse"
        x="0"
        y="0"
        width="30"
        height="30"
      >
        <rect width="30" height="30" fill="#D9D9D9" />
      </mask>
      <g mask="url(#mask0_153450_13803)">
        <path
          d="M15 18.7188C14.8333 18.7188 14.6721 18.6875 14.5162 18.625C14.3596 18.5625 14.2292 18.4792 14.125 18.375L8.375 12.625C8.14583 12.3958 8.03125 12.1042 8.03125 11.75C8.03125 11.3958 8.14583 11.1042 8.375 10.875C8.60417 10.6458 8.89583 10.5312 9.25 10.5312C9.60417 10.5312 9.89583 10.6458 10.125 10.875L15 15.75L19.875 10.875C20.1042 10.6458 20.3958 10.5312 20.75 10.5312C21.1042 10.5312 21.3958 10.6458 21.625 10.875C21.8542 11.1042 21.9688 11.3958 21.9688 11.75C21.9688 12.1042 21.8542 12.3958 21.625 12.625L15.875 18.375C15.75 18.5 15.6146 18.5883 15.4688 18.64C15.3229 18.6925 15.1667 18.7188 15 18.7188Z"
          fill="black"
        />
      </g>
    </svg>
  </div>
</section>
