@import "./../../../assets/styles/_colors.scss";

.header-section {
  position: relative;
  padding: 10px 15px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  @media (max-width: 1024px) {
    justify-content: space-between;
    padding: 10px 20px;
  }
}

.logo-wrapper {
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 12px;
  >img {
    @media (max-width: 1024px) {
      width: 200px;
    }
  }
}

.search-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  width: 100%;
  max-width: 989px;
  height: 70px;
  background-color: white;
  border-radius: 42px;

  @media (max-width: 1024px) {
    display: none;
  }

  > div:first-child {
    display: flex;
    align-items: center;
    background-color: $main-accent;
    margin-right: 5px;
    height: max-content;
    padding: 2px 10px;
    border-radius: 30px;
    gap: 4px;

    > img:nth-child(1) {
      width: 25px;
      height: 25px;
    }

    > p {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > div:last-child {
      display: flex;
      align-items: center;

      &:hover {
        > svg path {
          fill: $purple-font !important;
        }
      }

      > svg {
        width: 15px;
        &:hover {
          > path {
            fill: $purple-font !important;
          }
        }
      }
    }
  }

  > input {
    width: 100%;
    max-width: 700px;
    border: none;
    border-radius: 42px;
    font-family: "Nunito";
    font-weight: 700;
    font-size: 16px;
    &::placeholder {
      font-weight: 400;
      border: none;
      color: var($text-gray);
    }
    &:focus {
      outline: none;
    }
  }
  > img {
    width: 35px;
  }

  > #search-results {
    top: 45px;
    left: 30px;
    width: 300px;
    z-index: 200;
    max-height: 300px;
    overflow-y: scroll;
    position: absolute;
    height: max-content;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    border: 1px solid $light-purple;


    > div {
      padding: 10px 12px;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: #ececff;
      }

      > small {
        color: #6b6f8a;
        display: block;
        font-size: 12px;
        margin-bottom: 4px;
      }

      > p {
        color: #1f1f2e;
        font-size: 14px;
        line-height: 1.4;
      }
    }

    > div:nth-child(odd) {
      background-color: #f6f7fb;
    }

    > div:nth-child(even) {
      background-color: #ffffff;
    }
  }

  > #search-results-channels, #search-results-contacts {
    overflow-y: auto;
    position: absolute;
    top: 45px;
    left: 30px;
    width: 300px;
    height: 200px;
    border: 1px solid $light-purple;
    border-radius: 0 30px 30px 30px;
    background-color: white;
    z-index: 200;
  }
}

.profile-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;


  > h2 {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  > svg {
    @media (max-width: 1024px) {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
  > div:nth-child(2) {
    position: relative;
    > img:last-child {
      position: absolute;
      bottom: 10%;
      right: 0;
      width: 20px;
    }
  }
  &:hover {
    > h2 {
      color: $purple-font;
    }
    > svg path {
      fill: $purple-font !important;
    }
  }
}

.profile-pic {
  cursor: pointer;
  > img:nth-child(1) {
    width: 72px;
  }
  @media (max-width: 1024px) {
    > img:nth-child(2) {
    display: none;
    }
  }
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.416);

  z-index: 100;
}

.dropdown-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 100px;
  right: 1%;
  width: 212px;
  height: 141px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px 0 30px 30px;
  z-index: 500;


  @media (max-width: 1024px) {
    display: none;
  }
  > button {
    background-color: white;
    border: none;
    font-family: "Nunito";
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    max-width: 180px;
    height: 40px;
    border-radius: 40px;

    &:hover {
      cursor: pointer;
      color: $purple-font;
      background-color: $main-accent;
    }
  }
  /*  > button:last-child {
    &:hover {
      color: $purple-font;
      background-color: $main-accent;
    }
  } */
}

.dropdown-item-mobile {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  bottom: 0;
  width: 100%;
  height: 141px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -4px 10px;
  border-radius: 30px 30px 0 0;
  z-index: 500;

  transform: translateY(100%);
  transition: transform 0.1s ease-in-out;

  &:not(.no-display) {
    transform: translateY(0);
  }

  &.no-display {
    transform: translateY(100%);
    pointer-events: none;
  }


  @media (max-width: 1024px) {
    display: flex !important;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    padding-left: 30px;
    gap: 10px;
    > div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;

      > svg {
        width: 50px;
      }


      &:hover {
        cursor: pointer;
        color: $purple-font;
        background-color: $main-accent;
        >svg path {
          fill: $purple-font !important;
        }
        >button {
          cursor: pointer;
          color: $purple-font;
          background-color: $main-accent;
        }
      }

      &.profile-active {
        color: $purple-font;
        background-color: $main-accent;
        >svg path {
          fill: $purple-font !important;
        }
        >button {
          color: $purple-font;
          background-color: $main-accent;
        }
      }


      > button {
        background-color: white;
        border: none;
        font-family: "Nunito";
        font-weight: 600;
        font-size: 18px;
        width: 100%;
        max-width: 180px;
        height: 40px;
        border-radius: 40px;


      }
    }

    >div:last-child {
      &:hover {
        cursor: pointer;
        >button {
          cursor:pointer;
        }

      }
    }
  }
  /*  > button:last-child {
    &:hover {
      color: $purple-font;
      background-color: $main-accent;
    }
  } */
}

.svg-dropdown-mobile {
  cursor: pointer;
}

.no-display {
  display: none !important;
}

.dropdown-item-mobile.no-display {
  display: flex !important;
}

.toggle-menu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.623);

  z-index: 400;
}

.toggle-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  top: 100px;
  right: 1%;
  width: 350px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 30px 0 30px 30px;
  padding: 30px 30px 30px 35px;
  z-index: 500;

  @media (max-width: 1024px) {
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    z-index: 40000;
  }
  > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
    margin-bottom: 10px;
    > h2 {
      font-family: "Nunito";
      font-weight: 700;
      font-size: 20px;
    }
    > button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 30px;
      height: 30px;
      background-color: white;
      font-family: "Nunito";
      font-weight: 400;
      font-size: 14px;
      border: none;
      font-size: 18px;
      border-radius: 30px;
      &:hover {
        cursor: pointer;
        color: $purple-font;
        background-color: $main-accent;
        > svg path {
          fill: $purple-font !important;
        }
      }

      > svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  > img {
    width: 130px;
    border-radius: 50%;
  }

  > div:nth-child(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 100%;
    > div {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      > img {
        width: 30px;
      }
      > h3 {
        font-family: "Nunito";
        font-weight: 700;
        font-size: 18px;
        text-align: center;
      }
    }

    > a {
      width: 200px;

      font-family: "Nunito";
      font-weight: 400;
      font-size: 14px;
      color: $email-blue;
      text-decoration: none;
      margin-block-start: 5px;
    }
  }
}

.edit-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: 15px;
  > h3 {
    font-family: "Nunito";
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
  }

  > h4 {
    font-family: "Nunito";
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    color: $purple-font;
    &:hover {
      cursor: pointer;
    }
    @media (max-width: 1024px) {
      display: none;
    }
  }
  > svg {
    display: none;
    @media (max-width: 1024px) {
      display: block;
    }

    // Wenn edit-active Klasse gesetzt ist
    &.edit-active {
      rect {
        fill: $main-accent;
      }
      g path {
        fill: $purple-font;
      }
    }
  }
}

.profile-status {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;

  margin-bottom: 10px;
  > h3 {
    font-family: "Nunito";
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    color: $online-green;
  }
}

.profile-email {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;

  margin-bottom: 10px;
  > h3 {
    font-family: "Nunito";
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    color: $online-green;
  }
}

.edit-profile-mask {
  width: 100%;
  gap: 20px;
  > div:nth-child(1) {
    > div:nth-child(1) {
      display: flex;
      justify-content: start;
      align-items: center;
      > img {
        width: 20px;
      }
    }

    > div:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      height: 52px;
      margin-top: 5px;
      > input {
        height: 32px;
        border-radius: 30px;
        border: 1px solid $light-purple;
        padding: 10px;
      }
    }
  }

  > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    > button {
      width: 100%;
      max-width: 110px;
      height: 35px;
      border-radius: 40px;
      font-family: "Nunito";
      font-weight: 600;
      font-size: 14px;
      &:hover {
        cursor: pointer;
      }
    }

    > button:first-child {
      background-color: white;
      border: 1px solid $purple-font;
      color: $purple-font;
      &:hover {
        color: white;
        border: none;
        background-color: $purple-button;
        transform: scale(0.96);
        transform-origin: left bottom;
        transition: all 0.1s ease-in-out;
      }
    }
    > button:last-child {
      background-color: $purple-button;
      border: none;
      color: white;
      &:hover {
        background-color: $purple-message;
        transform: scale(0.96);
        transform-origin: left top;
        transition: all 0.1s ease-in-out;
      }
    }
  }
}
