@media (max-width: 1300px) {
  .class.reveal-text {
    transform: translate(-50%, -40%) !important;
    animation: slideToTopCenter 1s ease-in-out forwards;
  }

  .logo-wrapper {
    transform: translate(-50%, -50%) !important;
  }

  .logo-moved {
    top: 60px !important;
    left: 50% !important;
  }

  .login-form-wrapper {
    top: calc(50% + 50px);
  }

  .footer-links {
    bottom: 1%;
  }
}

@media (max-width: 1024px) {
  .google-login {
    margin: auto;
    margin-bottom: 20px;
  }

  .login-card {
    padding: 40px 30px;
    border-radius: 25px;
  }

  h2 {
    font-size: 36px;
  }

  .login-card .subtitle {
    font-size: 18px;
    margin: 0 0 10px 0 !important;
  }

  .form-group {
    margin-bottom: 30px;
  }

  .input-wrapper {
    padding: 14px 18px;
    gap: 25px;
  }

  .form-input {
    font-size: 15px;
  }

  .button-group {
    gap: 15px;
  }

  .signup-hint {
    top: 30px;
    right: 30px;
    gap: 6px;

    .signup-text,
    .signup-link {
      font-size: 17px;
    }
  }

  .footer-links {
    bottom: 30px;
    gap: 15px;

    .footer-link {
      font-size: 16px;
      padding: 9px 13px;
    }
  }

  .logo-wrapper {
    transform: translate(-40%, -50%) !important;
    .logo {
          padding: 10px 20px !important;
          width: 250px !important;
    }

    &.logo-moved {
      transform: translate(-50%, 0) !important;
    }
  }

  @keyframes slideLeftLight {
    0% {
      left: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      left: 40%;
      transform: translate(0, -50%);
    }
  }
}

@media (max-width: 768px) {
   .login-form-wrapper {
    top: calc(50% + 10px);
  }

  .login-card {
    padding: 20px 20px;
    border-radius: 20px;
    width: 90vw;
  }

  .logo-wrapper.logo-moved {
    top: 30px !important;
    left: 50% !important;
  }


  h2 {
    font-size: 24px !important;
  }

  .login-card .subtitle {
    font-size: 14px;
    margin: 0 0 10px 0 !important;
  }

  .form-group {
    margin-bottom: 24px;
  }

  .input-wrapper {
    padding: 8px 16px;
    gap: 20px;
  }

  .form-input {
    font-size: 14px;
  }

  .forgot-password {
    font-size: 14px;
  }

  .divider {
    margin: 16px 0;

    span {
      font-size: 12px;
    }
  }

  .google-login {
    padding: 5px;
    height: 50px !important;
    font-size: 14px;
    margin-bottom: 16px;
    width: 100%;
  }

  .button-group {
    gap: 12px;

    button {
      padding: 10px;
      font-size: 16px;
    }
  }

  .signup-hint {
    position: absolute;
    top: auto;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    gap: 14px;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;

    .signup-text,
    .signup-link {
      font-size: 16px;
    }

    .signup-link {
      font-weight: 600;
      letter-spacing: 0.5px;
      color: #444df2;
      text-decoration: none;
      border: 1px solid;
    }
  }

  .footer-links {
    display: none;
  }

  .error-text {
    margin-left: 40px;
    font-size: 11px;
  }

  .logo-wrapper img.logo-intro-step {
    width: clamp(550px, 45vw, 250px);
  }
}

@media (max-width: 480px) {
  .logo-wrapper img.logo-intro-step {
    width: clamp(350px, 50vw, 160px);
  }
}

@media (max-width: 320px) {
  .login-card {
    padding: 20px 10px;
    border-radius: 15px;
  }

  .login-card h2 {
    font-size: 18px !important;
  }

  .login-card .subtitle {
    font-size: 14px !important;
    margin-bottom: 20px;
  }

  .input-wrapper {
    padding: 10px 12px;
    gap: 15px;
  }

  .form-input {
    font-size: 12px;
  }

  .button-group button {
    font-size: 14px;
    padding: 8px;
  }

  .error-text {
    font-size: 10px;
    margin-left: 30px;
  }

  .logo-wrapper img.logo-intro-step {
    width: clamp(850px, 55vw, 130px);
    max-width: 120vw;
  }
}



@media (max-height: 1000px) and (max-width: 768px){
  .logo-wrapper.logo-moved {
    top: 10% !important;
    left: 50% !important;
  }
}

@media (max-height: 900px) and (max-width: 768px) {
  .logo-wrapper.logo-moved {
    top: 120px !important;
    left: 50% !important;
  }
}

@media (max-height: 850px) and (max-width: 768px) {
  .logo-wrapper.logo-moved {
    top: 100px !important;
    left: 50% !important;
  }
}

@media (max-height: 800px) and (max-width: 768px) {
  .logo-wrapper.logo-moved {
    top: 80px !important;
    left: 50% !important;
  }
}

@media (max-height: 750px) {
  .logo-wrapper.logo-moved {
    top: 40px !important;
    left: 50% !important;
  }
}