@use "../../../assets/styles/colors" as *;

.overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.274);
  top: 0;
  left: 0;
  z-index: 2000;

  .create-channel {
    width: 750px;
    height: 430px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
    padding: 30px;
    > div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      > h3 {
        margin-block-end: 1rem;
      }
      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        > svg {
          &:hover {
            cursor: pointer;
          }
        }
        &:hover {
          background-color: $main-accent;
          > h2 {
            color: $purple-font;
          }
          > svg path {
            fill: $purple-font !important;
          }
        }
      }
    }

    > h4 {
      display: flex;
      gap: 5px;
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      > h4 {
        font-weight: 300;
        color: $text-gray;
      }
    }
    .channel-name {
      display: flex;
      justify-content: start !important;
      border: 1px solid $light-purple !important;
      padding: 10px;
      height: 55px;
      border-radius: 25px;
      gap: 10px;
      > input {
        width: 100%;
        transition: all 0.3s ease-in-out;
        border: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: "Nunito";
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    .channel-description {
      display: flex;
      justify-content: start !important;
      border: 1px solid $light-purple !important;
      padding: 10px;
      height: 55px;
      border-radius: 25px;
      > input {
        width: 100%;
        transition: all 0.3s ease-in-out;
        border: none;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: "Nunito";
          font-weight: 400;
          font-size: 14px;
        }
      }
    }

    .channel-create-one {
      display: flex;
      justify-content: end;
      padding: 20px 0;
      > button {
        width: 100px;
        height: 35px;
        border-radius: 30px;
        border: none;
        background-color: $purple-button;
        color: white;
        font-family: "Nunito";
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        &:hover {
          background-color: $purple-font;
        }
      }
    }
  }

  .add-channel-member {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;

    background-color: white;
    border-radius: 30px;
    padding: 30px;
    > div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        > svg {
          &:hover {
            cursor: pointer;
          }
        }
        &:hover {
          background-color: $main-accent;
          > h2 {
            color: $purple-font;
          }
          > svg path {
            fill: $purple-font !important;
          }
        }
      }
    }

    > div:nth-child(2) {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 20px;
      > div:nth-child(1) {
        display: flex;
        align-items: center;
        gap: 10px;

        > label {
          display: flex;
          align-items: center;
          gap: 3px;
          font-size: 14px;
          font-weight: 500;
          > h3 {
            font-weight: 500;
            font-size: 14px;
            color: $purple-font;
          }
        }
      }
      > div:nth-child(2) {
        display: flex;
        align-items: center;
        gap: 10px;
        > label {
          font-size: 14px;
          font-weight: 500;
        }
      }
      > .members-list {
        position: relative;
        display: flex;
        justify-content: start !important;
        border: 1px solid $light-purple !important;
        width: 100%;
        padding: 10px;
        height: 40px;
        border-radius: 25px;
        transition: all 3s;
        overflow: auto;
        > div:first-child {
          display: flex;
          align-items: center;
          width: 100%;

          gap: 5px;

          > div {
            display: flex;
            align-items: center;
            background-color: $main-accent;
            width: 210px;
            padding: 2px 10px;
            border-radius: 30px;
            gap: 4px;
            > img:nth-child(1) {
              width: 25px;
              height: 25px;
            }
            > p {
              font-size: 14px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            > div:last-child {
              display: flex;
              align-items: center;
              &:hover {
                > svg path {
                  fill: $purple-font !important;
                }
              }
              > svg {
                width: 15px;
                &:hover {
                  > path {
                    fill: $purple-font !important;
                  }
                }
              }
            }
          }
          > input {
            position: relative;
            width: 100%;
            transition: all 0.3s ease-in-out;
            border: none;
            &:focus {
              outline: none;
            }
            &::placeholder {
              font-family: "Nunito";
              font-weight: 400;
              font-size: 14px;
            }
          }
        }
      }
      > div:nth-child(4) {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 10px;
        top: 90px;
        left: 10px;
        overflow-y: auto;
        width: 250px;
        height: 150px;
        border: 1px solid $light-purple;
        border-radius: 0 30px 30px 30px;
        background-color: white;
        z-index: 200;
        padding: 10px;

        transition: all 0.3s ease-in-out;
        &.deactive {
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
        > div > article {
          position: relative;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 50px;
          padding: 0 10px;
          cursor: pointer;
          > figure {
            position: relative;
            height: 55px;
            border-radius: 50px;
            > img:nth-child(1) {
              width: 50px;
              height: 50px;
            }
            > img:nth-child(2) {
              position: absolute;
              bottom: 10%;
              right: 10%;
            }
          }

          > p {
            font-size: 14px;
          }

          &:hover {
            cursor: pointer;
            background-color: $main-accent;
            border-radius: 30px;
            transform: translateX(-1px);
          }
        }
      }
      > div:last-child {
        display: flex;
        justify-content: end;
        padding: 20px 0;
        > button {
          width: 100px;
          height: 35px;
          border-radius: 30px;
          border: none;
          background-color: $purple-button;
          color: white;
          font-family: "Nunito";
          font-weight: 600;
          font-size: 14px;
          cursor: pointer;
          &:hover {
            background-color: $purple-font;
          }
        }
      }
    }
  }
}

:host {
  gap: 25px;
  opacity: 1;
  height: auto;
  background: white;
  padding: 32px 30px;
  border-radius: 30px;

  > header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    > div {
      display: flex;
      align-items: center;

      > div {
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        border-radius: 100%;
        justify-content: center;
        background-image: url("../../../assets/img/devspace.png");
      }

      > h2 {
        padding-left: 15px;
      }
    }

    > svg {
      cursor: pointer;
    }
  }

  > nav {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    margin-left: 50px;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > h3 {
        display: flex;
        left: -37.5px;
        cursor: pointer;
        position: relative;
        align-items: center;

        > svg {
          margin-right: 10px;
        }

        &:before {
          content: url("../../../assets/icons/svgs/arrow_drop_down.svg");
          margin-right: 25px;
        }
      }
      > h3.deactive::before {
        content: url("../../../assets/icons/svgs/arrow_drop_down_close.svg") !important;
        width: 10px;
      }

      > svg {
        cursor: pointer;
      }
    }
  }
}

.direct-messages {
  position: relative;
  padding-left: 5px;
}

.direct-messages-list {
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  margin-top: 20px;
  max-height: 250px;
  overflow-y: auto;
  max-width: 500px;
  transition: all 0.3s ease-in-out;
  &.deactive {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }
  > div > article {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    padding: 0 25px;
    cursor: pointer;
    > figure {
      position: relative;
      height: 55px;
      border-radius: 50px;
      > img:nth-child(1) {
        width: 50px;
        height: 50px;
      }
      > img:nth-child(2) {
        position: absolute;
        bottom: 10%;
        right: 10%;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: $main-accent;
      border-radius: 30px;
      transform: translateX(-1px);
    }
  }
}

.d-none {
  display: none !important;
}

.no-scrollbar {
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.toggle-channels {
  > div {
    display: flex;

    cursor: pointer;
    > h3 {
      display: flex;
      left: -37.5px;
      cursor: pointer;

      align-items: center;

      > svg {
        margin-right: 10px;
      }

      &:before {
        content: url("../../../assets/icons/svgs/arrow_drop_down.svg");
        margin-right: 25px;
      }
    }
    > h3.deactive::before {
      content: url("../../../assets/icons/svgs/arrow_drop_down_close.svg") !important;
      width: 10px;
    }

    > svg {
      cursor: pointer;
    }
  }
}

.channel-wrapper {
  position: relative;
  left: -10px;

  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0 0 0;
  > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 3px;
      max-height: 150px;
      overflow-y: auto;
    > div {
      display: flex;
      gap: 5px;
      padding: 2px 5px ;
      border-radius: 30px;
      font-size: 17px;
      font-weight: 600;
    

      &:hover {
        cursor: pointer;
        background-color: $main-accent;
        > svg path {
          fill: $purple-font !important;
        }
        > h3 {
          color: $purple-font !important;
        }
      }
    }
    transition: all 0.2s ease-in-out;
    &.deactive {
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }
  > div:last-child {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;

    padding: 5px;
    border-radius: 30px;

    > h3 {
      font-size: 17px;
      font-style: 400;
    }

    &:hover {
      cursor: pointer;
      > svg path {
        fill: $purple-font !important;
      }
      > h3 {
        color: $purple-font !important;
      }
    }
  }
}

.disabled-button {
  background-color: gray !important;
  cursor: not-allowed !important;
}


.active-channel {
  background-color: $main-accent !important;
  > h3 {
    color: $purple-font !important;
  }
  > svg path {
    fill: $purple-font !important;
  }
}

.active-user-chat {
  background-color: $main-accent !important;
      border-radius: 30px;
     
  > h3 {
    color: $purple-font !important;
  }
  > svg path {
    fill: $purple-font !important;
  }
}