@media (max-width: 1300px) {
  .logo-wrapper {
    position: absolute;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    img.logo-small,
    img.logo-intro-step {
      width: 180px;
      height: auto;
      transform: none;
    }
  }

  @keyframes slideToTop {
    0% {
      top: 50%;
      transform: translate(-50%, -50%);
    }
    100% {
      top: 20px;
      transform: translate(0, 0);
    }
  }

  .avatar-form-wrapper {
    top: calc(50% + 50px);
  }
}

@media (max-width: 1024px) {
  .avatar-card {
    padding: 40px 30px;
    border-radius: 25px;

    h2 {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  .selected-avatar {
    width: 130px;
    height: 130px;
  }

  .user-name {
    font-size: 22px;
  }

  .subtitle {
    font-size: 17px;
  }

  .avatar-options {
    gap: 12px;
  }

  .avatar-option {
    width: 65px;
    height: 65px;
  }

  .btn-continue {
    font-size: 17px;
  }

  .footer-links {
    bottom: 30px;
    gap: 15px;

    .footer-link {
      font-size: 16px;
      padding: 9px 13px;
    }
  }

  .logo-wrapper {
    .logo {
      padding: 20px 40px;
    }
  }
}

@media (max-width: 768px) {
  .avatar-card {
    padding: 30px 20px;
    border-radius: 20px;

    .back-button {
      top: 16px;
      left: 20px;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      padding: 0 25px;
      word-wrap: break-word;
    }
  }

  .logo-wrapper {
    top: 20px;
    left: 20px;

    .logo {
      padding: 15px 30px;
    }
  }

  .selected-avatar {
    width: 120px;
    height: 120px;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  .user-name {
    font-size: 20px;
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .avatar-options {
    gap: 10px;
  }

  .avatar-option {
    width: 60px;
    height: 60px;
  }

  .btn-continue {
    font-size: 16px;
    padding: 10px 0;
    height: auto;
  }

  .footer-links {
    display: none;
  }
}

@media (max-width: 320px) {
  .avatar-card {
    padding: 20px 10px;
    border-radius: 15px;
  }

  .logo-wrapper {
    .logo {
      padding: 10px 20px;
    }
  }

  h2 {
    font-size: 20px;
  }

  .selected-avatar {
    width: 100px;
    height: 100px;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  .user-name {
    font-size: 18px;
  }

  .subtitle {
    font-size: 14px;
  }

  .avatar-options {
    gap: 5px;
  }

  .avatar-option {
    width: 50px;
    height: 50px;
  }

  .btn-continue {
    font-size: 14px;
  }
}
