<app-header></app-header>

<section
  class="dashboard"
  [class.channels-closed]="channelsHidden"
  [class.thread-closed]="threadHidden"
>
  <button
    type="button"
    class="workspace-toggle"
    (click)="toggleChannels()"
    [attr.aria-label]="
      channelsHidden ? 'Workspace-Menü öffnen' : 'Workspace-Menü schließen'
    "
    [class.is-open]="!channelsHidden"
  >
    <span class="icon" [class.icon--close]="!channelsHidden"></span>
    <span class="label">
      {{
        channelsHidden ? "Workspace-Menü öffnen" : "Workspace-Menü schließen"
      }}
    </span>
  </button>
  <app-channels
    [users]="userList"
    [selectedPartner]="selectedPartner"
    (partnerSelected)="onPartnerSelected($event)"
    (toggleRequest)="toggleDirect($event)"
    [class.is-hidden-final]="channelsHidden"
    [class.is-closing]="isClosing"
    [class.is-opening]="isOpening"
  >
  </app-channels>
  <app-chat
    [users]="userList"
    [class.is-hidden]="chat"
    (threadSelected)="onThreadSelected($event)"
    (toggleRequest)="toggleThread($event)"
  ></app-chat>
  <app-message
    [users]="userList"
    [partner]="selectedPartner"
    [class.is-hidden]="direct"
  ></app-message>
  <app-thread
    [users]="userList"
    [messageId]="selectedThreadId"
    (toggleRequest)="toggleThread($event)"
    [class.is-thread-opening]="isThreadOpening"
    [class.is-thread-closing]="isThreadClosing"
    [class.is-thread-hidden-final]="threadHidden && !isThreadClosing"
  >
  </app-thread>
</section>
