<app-header></app-header>

<section>
  <app-channels [users]="userList" (partnerSelected)="onPartnerSelected($event)" (toggleRequest)="toggleDirect($event)"></app-channels>
  <app-chat [users]="userList" [class.is-hidden]="chat" (threadSelected)="onThreadSelected($event)" (toggleRequest)="toggleThread($event)"></app-chat>
  <app-message [users]="userList" [partner]="selectedPartner" [class.is-hidden]="direct"></app-message>
  <app-thread [users]="userList" [messageId]="selectedThreadId" [class.is-hidden]="thread" (toggleRequest)="toggleThread($event)"></app-thread>
</section>
