@use "./assets/styles/colors" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

body {
  overflow: hidden;
  background-color: $main-accent;
}

.mention {
  display: contents;
  color: $mention-color;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: rgb(207, 209, 230);
  }
}

.unknown {
  display: contents;
  color: $unknown-color;
  text-decoration: none;
  cursor: not-allowed;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1400px) {
  body {
    overflow-x: auto !important;
    scrollbar-width: none !important;
    scrollbar-color: #444df2 #f1f1f1 !important;
  }

  html {
    overflow-x: auto !important;
    scrollbar-width: none !important;
    scrollbar-color: #444df2 #f1f1f1 !important;
  }
}
