$main-accent: #ECEEFE;

$purple-message: rgba(121, 126, 243, 1);
$purple-font: rgba(83, 90, 241, 1);
$purple-button: rgba(68, 77, 242, 1);
$light-purple: rgba(173, 176, 217, 1);

$text-gray: rgba(104, 104, 104, 1);

$bg-color: rgba(83, 90, 241, 1);

$email-blue: rgba(48, 145, 255, 1);

$online-green: rgba(146, 200, 62, 1);
$rosa-error: rgba(237, 30, 121, 1);

$message-highlight: rgba(253, 222, 121, 0.6);

$mention-color: $purple-font;
$mention-bg: rgba(83, 90, 241, 0.12);

$unknown-color: $light-purple;
$unknown-bg: rgba(173, 176, 217, 0.15);
